body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

.header,
.navigation,
.main-content,
.navigation,
.content,
.sidebar,
.footer {
  font-size: 1.2rem;
  margin: auto;
  max-width: 1200px;
}

h3 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.8rem;
}

h1 {
  font-size: 2.2rem;
}

.header,
.footer {
  color: white;
  padding: 2rem 0;
}

.navigation,
.sidebar {
  margin: 0;
}

/* ============ Header section =========== */
.header {
  background-color: #336697;
  text-align: center;
}

.header .header__title {
  margin: auto;
}

/* =========== Content section =========== */
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.flex-container .flex-item {
  width: 100%;
}

.flex-container--2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.flex-container--2 .flex-container--2__item--1 {
  min-width: 20%;
}

.flex-container--2 .flex-container--2__item--2 {
  min-width: 60%;
}

.flex-container--2 .flex-container--2__item--3 {
  min-width: 20%;
}

.navigation__title,
.sidebar__title {
  padding: 30px 20px 10px 10px;
}

.navigation__item {
  padding: 10px 0 0 30px;
}

.navigation__item a {
  color: #336697;
}

.navigation__item:hover {
  font-size: 115%;
}

.navigation__item:hover > a {
  color: white;
}

.navigation__item--last {
  padding-bottom: 20px;
}

.content__title {
  padding: 25px 20px 0 20px;
  font-weight: bold;
}

.navigation {
  background-color: #fe9800;
}

.content__text {
  padding: 20px 10px 10px 20px;
  min-height: 50vh;
}

.sidebar {
  background-color: #993365;
}

/* ============== Footer section ======== */
.footer {
  background-color: #669900;
  text-align: center;
}

.footer .footer__title {
  font-size: 2.2rem;
}

/* ============== grid styles ========= */
.grid-container {
  display: -ms-grid;
  display: grid;
  max-width: 1200px;
  margin: auto;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
      grid-template-areas: 'header header header' 'nav main sidebar' 'footer footer footer';
}

.grid-container .grid-item--1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  width: 100%;
}

.grid-container .grid-item--2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

.grid-container .grid-item--3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: main;
}

.grid-container .grid-item--4 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: sidebar;
}

.grid-container .grid-item--5 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  width: 100%;
}

/* ========== media quaries ============ */
@media (max-width: 780px) {
  .flex-container--2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .navigation__title,
  .sidebar__title {
    padding: 20px 10px 10px 20px;
  }
  .header,
  .navigation,
  .content,
  .sidebar,
  .footer {
    font-size: 1.4rem;
  }
  .content__text {
    padding: 20px 20px 20px 30px;
    min-height: 50vh;
  }
  .grid-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas: 'header' 'nav' 'main' 'sidebar' 'footer';
  }
}
/*# sourceMappingURL=style.css.map */